@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sassoon Infant Std";
  src: url("/fonts/SassoonInfantStd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* add the code bellow */ 
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

body {
  font-family: "Sassoon Infant Std", sans-serif;
}
